In [32]:
# Clean the data for the Healthcare Associated Infections-State dataset 
# and create a summary statistic based on the SIR averages of each state.

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path

In [33]:
#Read in the Healthcare Associated Infections data csv file
infections = pd.read_csv("../project-1_Group-5/Resources/Healthcare_Associated_Infections-State.csv")
infections.head()

,State,Measure ID,Measure Name,Score,Footnote,Start Date,End Date
0,AK,HAI_1_CILOWER,Central Line Associated Bloodstream Infection ...,0.178,NaN,10/01/2021,09/30/2022
1,AK,HAI_1_CIUPPER,Central Line Associated Bloodstream Infection ...,0.590,NaN,10/01/2021,09/30/2022
2,AK,HAI_1_SIR,Central Line Associated Bloodstream Infection ...,0.339,NaN,10/01/2021,09/30/2022
3,AK,HAI_2_CILOWER,Catheter Associated Urinary Tract Infections (...,0.507,NaN,10/01/2021,09/30/2022
4,AK,HAI_2_CIUPPER,Catheter Associated Urinary Tract Infections (...,1.152,NaN,10/01/2021,09/30/2022

In [43]:
# Create a new dataframe that has the SIR average for each state. 
# This summary will include the average of HAI_1_SIR, HAI_2_SIR, HAI_3_sir, HAI_4_SIR, HAI_5_SIR, HAI_6_SIR

infections_df = pd.DataFrame(infections)
infections_df.head()

sirs = ['HAI_1_SIR', 'HAI_2_SIR', 'HAI_3_SIR', 'HAI_4_SIR', 'HAI_5_SIR', 'HAI_6_SIR']

filtered_infections = infections.loc[infections['Measure ID'].isin(sirs)]
filtered_infections.head()

,State,Measure ID,Measure Name,Score,Footnote,Start Date,End Date
2,AK,HAI_1_SIR,Central Line Associated Bloodstream Infection ...,0.339,NaN,10/01/2021,09/30/2022
5,AK,HAI_2_SIR,Catheter Associated Urinary Tract Infections (...,0.780,NaN,10/01/2021,09/30/2022
8,AK,HAI_3_SIR,SSI - Colon Surgery,1.129,NaN,10/01/2021,09/30/2022
11,AK,HAI_4_SIR,SSI - Abdominal Hysterectomy,2.009,NaN,10/01/2021,09/30/2022
14,AK,HAI_5_SIR,MRSA Bacteremia,0.918,NaN,10/01/2021,09/30/2022

In [53]:
# Select the columns that we want to keep in the new dataframe
filtered_infections = filtered_infections[['State', 'Measure ID', 'Score', 'Start Date', 'End Date']].reset_index(drop=True)   
filtered_infections.head()

  State Measure ID  Score  Start Date    End Date
0    AK  HAI_1_SIR  0.339  10/01/2021  09/30/2022
1    AK  HAI_2_SIR  0.780  10/01/2021  09/30/2022
2    AK  HAI_3_SIR  1.129  10/01/2021  09/30/2022
3    AK  HAI_4_SIR  2.009  10/01/2021  09/30/2022
4    AK  HAI_5_SIR  0.918  10/01/2021  09/30/2022

In [55]:
# Check to see if there are any NaN or null values in the Score column
print(filtered_infections.isnull().sum())

State         0
Measure ID    0
Score         0
Start Date    0
End Date      0
dtype: int64

In [58]:
#Convert the Score column to a numeric value and handle NaN values using astype()
filtered_infections['Score'] = filtered_infections['Score'].astype(float)

# Recheck types to make sure the Score column is now a float
filtered_infections.dtypes

ValueError: could not convert string to float: 'Not Available'

In [51]:

# Group the data by state and calculate the average of the SIRs for each state and add this to a new dataframe
grouped_infections = filtered_infections.groupby(['State']).mean()
grouped_infections.head()

C:\Users\neilg\AppData\Local\Temp\ipykernel_10760\320635282.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped_infections = filtered_infections.groupby(['State']).mean()

Empty DataFrame
Columns: []
Index: [AK, AL, AR, AS, AZ]